.horizontal-line{
    top : 50%;
    left: 10%;
    width: 80%;
    height: 47px;
    border-bottom: 1px solid black;
    position: absolute;
}

.vertical-line {
    top: 15%;
    left: 50%;
    width: 80%;
    height: 80%;
    border-left: 1px solid black;
    position: absolute;
}

.first-square {
    position: absolute;
    top: 15%;
    left: 15%;
}
.second-square {
    position: absolute;
    top: 15%;
    left: 55%;
}
.third-square {
    position: absolute;
    top: 60%;
    left: 15%;
}
.fourth-square {
    position: absolute;
    top: 60%;
    left: 55%;
}