.taskCard {
    font-size: x-small;
}

.taskCardRemoved {
  font-size: x-small;
  opacity: 0.2;
}

.taskCard:hover {
    --_p: 0%;
    cursor: pointer;
}

.taskCardCompleted:hover {
  --_p: 0%;
  cursor: pointer;
}

.inlineBlock{
  display: inline-block
}